@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumGothic";
  src: url(./assets/fonts/NanumGothic-Regular.ttf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "NanumGothic";
  src: url(./assets/fonts/NanumGothic-Regular.ttf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "NanumGothic";
  src: url(./assets/fonts/NanumGothic-Bold.ttf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "NanumGothic";
  src: url(./assets/fonts/NanumGothic-ExtraBold.ttf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 500;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-padding-top: 4rem; 
  font-family: "Nanum Gothic", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
